#postDropDown {
    position : absolute;
    top : 65px;
    right : 50px;
    background-color : #673ab7;
    z-index: 2;
    color: white;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 600ms;
}
#postDropDown div {
    padding: 10px;
}
#postDropDown div:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5)
}
a {
    color: inherit
}

@media only screen and (max-width: 600px) {
    #postDropDown {
        position : absolute;
        top : 45px;
        right : 30px;
    }
  }