#postDropDown {
    position : absolute;
    top : 65px;
    right : 50px;
    background-color : #673ab7;
    z-index: 2;
    color: white;
    border-radius: 5px;
    /* visibility: hidden;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms; */
    height: 0px;
    transition : height 300ms;
}
#postDropDown div {
    padding: 10px;
}
#postDropDown div:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5)
}