#PHContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#PHProfilePicture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: grey;
}
.followContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}
.followContainer p {
    margin : 0;
}
#followContainer button{
    width: 100%;
    padding: 5px;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
}